:root {
  --off-white: #f9f8f6;
  --white: #ffffff;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, sans-serif, system-ui;
  color: #000;
  background-color: #fff;
}

header,
form,
ul,
.list-wrapper {
  max-width: 36em;
  margin: 0 auto;
}

h1 {
  margin: 1rem 1rem 0 1rem;
  font-size: 3.5rem;
  padding: 1rem 0;
  border-bottom: solid 0.2rem #000;
  line-height: 1em;
  font-weight: 800;
  letter-spacing: -0.1rem;
}

form {
  margin:0 auto 0.5rem auto;
  padding: 0.5em;
  font-size: 1em;
  bottom: 0;
  width: 35em;
  max-width: 100vw;
  height: 4.4em;
  color: var(--off-white);
  background-color: transparent;
  z-index: 1;
}

form.max input {
  text-align: center;
}

input {
  width: 100%;
  padding: 1rem;
  font-size: 1.4em;
  font-weight: bold;
  border: none;
  /* box-shadow: 0 1rem 5rem 0rem rgba(222, 215, 215, 0.9); */
  color: #fff;
  background-color: #000;
}

::-webkit-input-placeholder {
  color: #aaa;
}
::-moz-placeholder {
  color: #aaa;
}
:-moz-placeholder {
  /* Older versions of Firefox */
  color: #aaa;
}
:-ms-input-placeholder {
  color: #aaa;
}

.list-wrapper {  
  /* -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  height:  100vh; */
  width: calc(100vw - 2em);
  /* overflow-y: scroll; */
}

ul {
  margin: 0 1rem;
  padding: 0;
  list-style: none;
  background-color: #000;
  /* background: rgb(243, 195, 215);
  background: linear-gradient(
    0deg,
    rgba(243, 195, 215, 1) 0%,
    rgba(169, 208, 240, 1) 100%
  ); */
}

li {
  padding: 1.5em 0.35em 1.5em 1.15em;
  border-top: solid 0.1em rgba(0, 0, 0, 0.09);
  cursor: pointer;
  display: flex;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: var(--white);
}

/* Remove the border on the first list item */
li:first-of-type {
  border: none;
}

/* Completed task */
li.done {
  background-color: transparent;
  border: none;
  color: #999;
}

li > span {
  flex: 1;
}

li > button {
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
  text-indent: -9999em;
  height: 1.75em;
  width: 1.75em;
  background-image: url(../icons/icon-trash.svg);
  background-repeat: no-repeat;
  opacity: 0.35;
}

.done > span {
  text-decoration: line-through;
}
